<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Agregar Plato</h1>
  idPlato <input type="text" id="idDish"><br>
  nombre <input type="text" id="name"><br>
  calorias <input type="text" id="calories"><br>
  <label for="isVegetarian">Vetegariano</label>
  <select id="isVegetarian" name="isVegetarian">
    <option value="true">Sí</option>
    <option value="false">No</option>
  </select><br>
  valor <input type="number" id="value"><br>
  comentarios <input type="text" id="comments"></p>

  <button id="btnSend">Enviar Datos</button>
  <script src="./js/scripts.js"></script>
</body>
</html>